<!DOCTYPE html>
<html lang="es">
<head>
  <link rel="stylesheet" href="/css/css.css">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">

</head>
<body>

  <%- include('../partials/header.ejs') %>

  <div class="profile-container">
    <h1>Perfil de Usuario</h1>

    <img src="<%= user.image %>" alt="Foto de <%= user.firstName %>" class="profile-image" />

    <div class="profile-info">
      <p><strong>Nombre:</strong> <%= user.firstName %> <%= user.lastName %></p>
      <p><strong>Email:</strong> <%= user.email %></p>
      <p><strong>Categoría:</strong> <%= user.category %></p>
    </div>

    <!-- Botón para editar perfil -->
    <a href="/users/edit" class="btn-edit-profile">Editar perfil</a>

    <!-- Botón para ir al panel -->
    <a href="/products" class="btn-edit-profile">Panel</a>
  </div>
   
   
</body> 
</html>